.login-form {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.login-form > div {
    width: 85%;
    min-width: 300px;
    max-width: 500px;
}

.card {
    width: 100%;
}

.btn a, .btn a:hover {
    color: white;
    text-decoration: none ;
}
